<div class="main-div" style="display: flex; justify-content: space-between;">
  <div>
    <h3><%= @restaurant.name %></h3>
    <h5><%= @restaurant.address %></h5>
    <h6><%= @restaurant.category.capitalize + " cuisine" %></h6>
  </div>
  <div>
    <h5 class="no-decoration" style=" color: rgb(177, 165, 255); align-self: center; background-color: rgb(226, 227, 255); border-radius: 5px; padding: 10px; color: white; text-decoration: none;">
      <%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "no-decoration" %>
    </h5>
  </div>
</div>
<br>
<div class="main-div" style="width: 450px;">
  <h5 style="margin-bottom: 20px;">Reviews</h5>
    <% @restaurant.reviews.each do |review| %>
  <li style="margin-bottom: 25px;">
    <div style="border-bottom: 1px solid rgb(218, 218, 218);">
      <p style="font-weight: 350;"><%= review.content %></p>
      <p style="margin-top: 10px;">Rating <%= "â­" * review.rating %></p>
    </div>
  </li>
  <% end %>
  <br>
  <h6><%= link_to "Back to home", restaurants_path %></h6>
</div>
